body{
    background-color: #58536A;
}

h3{
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

.imgCircular {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.contenedorCards{
    background-color: #58536A;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.contenedorCupon{
    background-color: #58536A;
    width: 100%;
}

#imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    background-color: #58536A;
    width: 33%;
    height: auto;
    background-color: #58536A;
    border:0;
}
 .card-text{
    color: white;
    text-align: justify;
 }

 .card-title{
    color: white;
    font-size: 25px;
 }

 .containerTransparente {
    position: relative;
    margin: 0 auto;
    
}

.containerTransparente img {
    vertical-align: middle;
    width: 100%;
}

.imgConocenos{
    height: 100%;
}

.containerTransparente .contentTransparente {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 100%;
    display: flex;
    padding: 0px;
    justify-content: right;
}

.contentTransparente{
    height: 100%;
}

.contenedorTexto{
    width: 50%;
    height: 100%;
    padding: 40px;
}

.imgConocenos{
    width: 100%;
}

#imgConocenos{
    height:80ch
}


#titImagenTransparente {
    font-size: 35px;
    color: white;
    text-align: justify;

}

#txtImagenTransparente {
    font-size: 20px;
    color: white;
    text-align: justify;
}

@media (max-width:1400px) {
    #card{
        width: 50%;
    }
    .contenedorTexto{
        width: 80%;
    }
}

@media (max-width:992px) {
    #card{
        width: 100%;
    }
    .contenedorTexto{
        width: 100%;
    }
}

@media (max-width:576px) {
    
}