@charset "utf-8";
*{
box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.tarjeta {
  max-width: 65vw;
  margin: 48px auto;
  display: block;
  overflow: hidden;
}
.contenido {
  display: flex;
}
@media (max-width: 1024px){
  .contenido{
  flex-direction: column;
  }
  .tarjeta {
   max-width: 95vw;
  }
}
.ladoIzq, .ladoDer {
  width: 100%;
}
.ladoIzq img {
  width: 100%;
  height: 100%;
  border-style: none;
}
.ladoDer {
  background: rgb(45, 80, 80);
  color: white;
  padding: 48px
}
.btn1 {
  display: inline-block;
  background: rgb(111, 132, 151);
  margin-right: 4px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 18px;
  color: whitesmoke;
}
a.btn{
   text-decoration: none;
}
a.btn:hover{
   opacity: 0.1;
}


