body{
    background-color:rgb(239, 239, 205);
}

.contenedor{
    padding: 30px;
    display: flex;
    background-color:rgb(239, 239, 205);
}

.divPrincipal{
    padding: 30px;
    margin: 0;
}

.grafica1{
    background-color: rgb(239, 239, 205);
    width: 100%;
    text-align: center;
}

.intento{
    text-align: center;
    align-items: center; 
}

#columnchart_values{
    overflow: auto;
}

#chart_div{
    overflow: auto;
}

#btnEnviar{
    font-size: 15px;
}